@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

.view-title{
    font-size: 10.833em;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #6E44CE;
    font-family: 'Montserrat Alternates', sans-serif;
}

.clock.flip-clock-wrapper {
    margin: 0 auto;
    display: table;
    width: auto;
}

.flip-clock-wrapper ul li a div.up:after{
    display: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}